body.dark-mode {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.card.dark-mode, .modal-content.dark-mode {
  background-color: #333;
  color: #ffffff;
}

header h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #007bff;
}

.d-flex.justify-content-center {
  margin-top: 1rem;
}

button {
  border-radius: 5px;
}

.input-group-text {
  background: transparent;
  border-right: 0;
}

.form-control {
  border-left: 0;
}

